In [ ]:
#conditional statements

In [ ]:
price_tv=20000
if price_tv<=20000:
   print("please pack it")

please pack it

In [ ]:
price_tv=int(input("enter the price"))
if price_tv<=20000:
   print("pack it")

enter the price20000
pack it

In [ ]:
price_tv=int(input("enter the price"))
if price_tv<=20000:
   print("pack it")
else:
  print("we will lokk another one")

enter the price20000
pack it

In [ ]:
#write a program to a given a number is even for not

In [ ]:
number=int(input("enter a number"))
if number%2==0:
   print("the number is even")
else:
   print("the number is odd")

enter a number2
the number is even

In [ ]:
a=12
b=32
c=26
if a>b and a>c:
  print(a,"is the biggest")
elif b>a and b>c:
     print(b,"is the biggest")
else:
     print(c,"is the biggest")

32 is the biggest

In [ ]:
#loops

In [ ]:
for num in range(0,11):
  print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#to find the square of all even numbers between 1-10

In [ ]:
for num in range(1,12):
  if num%2==0:
    print(num*num)

4
16
36
64
100

In [ ]:
#to get a list a input from the user and find the sum of all numbers all yhe list

In [ ]:
limit=int(input("enter the limit"))
sum=0
for num in range (0,limit+1):
    sum=sum+num
print(sum)

enter the limit5
15

In [ ]:
#to count the numbers divisible by 3 from 5 to 500

In [71]:
count=0
for num in range(5,501):
   if(num=)
   num%3==0:
   print(count)

SyntaxError: invalid syntax (<ipython-input-71-b2a9b49c0489>, line 3)

In [72]:
f=['apple','orange','banana','grapes']
for fruit in f:
   print(fruit)

apple
orange
banana
grapes

In [76]:
word='python programming'
for letter in word:
  print(letter,end='')

python programming

In [77]:
word='python programming'
for letter in word:
  print(letter)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [94]:
#to print a sum of the elements in a given list
sum=0
num=[1,2,3,4,5]
for num in num:
    sum=sum+num
    print(sum)

1
3
6
10
15

In [95]:
#while loop
i=0
while(i!=10):
   print(i)
   i+=2

0
2
4
6
8

In [105]:
l1=[5,15,22,32,45,55]
even=[]
odd=[]
while len(l1)>0:
  l=l1.pop()
  if l%2++0:
      even.append(l)
  else:
    odd.append(l)
print(even)
print(odd)

[55, 45, 15, 5]
[32, 22]

In [106]:
#input the names until the user decides to stop then print all the names

In [124]:


name_1= []
a=''
while(a!="no")
name = input("enter a name")
  a=input("to you want to condition,enter NO to stop")
  a=a.upper()
  name_1.append(name)
  print("enter the names are",name)

SyntaxError: expected ':' (<ipython-input-124-6d1dc6b77330>, line 3)

In [111]:
# prompt: input names until the user decides to stop then print all the names

names = []
while True:
  name = input("Enter a name (or 'quet' to quet): ")
  if name == 'quet':
    break
  names.append(name)

print("The following names were entered:")
for name in names:
  print(name)

Enter a name (or 'quet' to quet): sidaan
Enter a name (or 'quet' to quet): sarang
Enter a name (or 'quet' to quet): quet
The following names were entered:
sidaan
sarang

In [127]:
#break
i=1
while(i<10):
if i==5:
   i+1
   continue
   print(i)
   i=i+1

IndentationError: expected an indented block after 'while' statement on line 3 (<ipython-input-127-f208ae1b9de4>, line 4)